.myCarousel{
	max-width:628px;
}

.gray{
	padding-top: 20px;
	background-color: #eee;
}

.info-slide{
	padding:10px 80px;
	font-family:serif;
	color: #016E97;
}

.info-slide p{
	padding-top: 20px;
	margin-left: 20px;
	font-size: 2.5em;
	line-height: 1.5em;
}

.voting{
	background-image: url(/img/voting.jpg);
	width:860px;
	height:300px;
	color:#eee;
}

.voting h2{
	margin-top: 215px;
	line-height: 0px;
}

.voting p{
	padding: 0px;
	margin: 0px;
	font-size: 2em;
}

.vision{
	padding-top: 40px;
}

.vision .logo{
	height:168px;
	margin-right: 30px;
}

.vision p{
	text-align: justify;
	font-size: 1.5em;
	color:#333;
}

.section{
	padding: 40px 0;
}